body {
    background-color: #E3C9B2;
}
*{
    color: #795A48; 
}

h1{
    color: #302B2B;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 60px;
    margin-bottom: 25px;
}

h3{
    color: #302B2B;
}

:any-link{
    color: #9F5C2B;
}

.animal{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 10px;
}